.not-found {
  font-size: 2.5em;
  max-width: 380px;
  height: 200px;
  text-align: center;
  margin: 50px auto;
  color: silver;
  display: flex;
  padding: 10px;
}

.wrap-not-found {
  position: absolute;
  background: url('../../images/img404.webp'), #1b1b25;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8em;
  width: 100%;
  height: 93%;
}
